/** @define utilities */
/* stylelint-disable declaration-no-important */

/* Text colors
   ========================================================================== */

.u-textMute {
  color: $gray-text !important;
}

.u-textWhite {
  color: #fff !important;
}

.u-textBlue {
  color: $blue !important;
}

.u-textBlack {
  color: $black !important;
}

/* Background colors
   ========================================================================== */

.u-bgWhite {
  background-color: #fff !important;
}

.u-bgGray {
  background-color: #f3f3f3;
}

.u-bgBlack {
  background-color: #000 !important;
}

.u-bgBlue {
  background-color: $blue !important;
}

.u-bgDarkBlue {
  background-color: $dark-blue !important;
}

.u-bgLightBlue {
  background-color: $light-blue;
}

.u-bgGreen {
  background-color: $green !important;
}

.u-bgGold {
  background-color: $gold !important;
}

.u-bgPurple {
  background-color: $purple !important;
}

.u-bgColor1 {
  background-color: $color-1 !important;
}

.u-bgColor2 {
  background-color: $color-2 !important;
}

.u-bgColor3 {
  background-color: $color-3 !important;
}

.u-bgColor4 {
  background-color: $color-4 !important;
}

.u-bgColor5 {
  background-color: $color-5 !important;
}

.u-bgColor6 {
  background-color: $color-6 !important;
}

.u-bgColor7 {
  background-color: $color-7 !important;
}

.u-bgColor8 {
  background-color: $color-8 !important;
}

.u-bgColor9 {
  background-color: $color-9 !important;
}

.u-bgColor10 {
  background-color: $color-10 !important;
}

.u-bgColor11 {
  background-color: $color-11 !important;
}

.u-bgColor12 {
  background-color: $color-12 !important;
}
