/** @define Nav; weak */

$Nav-color: $color-1;
$Nav-transition-delay: .35s;

.Nav {
  background-color: $Nav-color;
  position: relative;
  z-index: index($elements, nav);

  @include clearfix;

  a {
    display: block;
  }

  a,
  a:hover {
    text-decoration: none;
    color: #fff;
  }

  @include md(down) {
    padding-top: 1.5em;
  }
}

.Nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: -1.5rem;
}

.Nav-item {
  float: left;
  text-align: center;

  > a {
    background-color: transparent; // para la transition
    font-size: 1rem;
    font-weight: 600;
    padding: .875rem 1.5rem;
    transition: background-color .375s;
    width: 100%;
  }
}

/**
 * Error en IE8
 * con los mediaqueries y rem.js
 */

@include md(down) {
  .Nav ul {
    @include clearfix;

    left: 0;
    margin-bottom: 1.5rem;
  }

  .Nav-item {
    text-align: left;
    width: 100%;

    a {
      padding-top: .5rem;
      padding-bottom: .75rem;
    }
  }

  .Nav {
    overflow: hidden;
    display: none;
  }

  .Nav.is-open {
    display: block;
  }
}

.Nav-search {
  border: 0;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

@include md(down) {
  .Nav-list {
    margin-bottom: 2rem;
  }
}

@include md {
  .Nav-search {
    display: none;
  }
}

.Nav-list,
.Nav-subnav ul {
  @include reset-list;
}

.Nav-list > li {
  position: relative;

  > a:hover {
    transition-delay: $Nav-transition-delay;
  }
}

.Nav-item.hover {
  a {
    background-color: $dark-blue; // necesario para tapar sombra
  }
}

.Nav-item > a {
  position: relative;
  z-index: 9999;
}

.Nav-subnav {
  background-color: $dark-blue;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
  left: -9999px; // hide with position! don't use display neither visibility
  opacity: 0;
  position: absolute;
  text-align: left;
  transition: left 0s, opacity .375s;
  width: 14rem;
  z-index: 9998;

  @include md(down) {
    box-shadow: 0 0 0 transparent;
    margin-bottom: 2rem;
    width: 100%;
  }

  ul li:last-child {
    border-bottom: 0;

    a {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  a {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    padding: 10px 20px;
    
    @include md(down) {
      padding: 10px 24px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $blue;
    }
  }
}

.Nav-item:focus-within div.Nav-subnav { // Ajuste para ser visible sin JS
    left: 0;
    opacity: 1;
}

.Nav-list > li > a:hover + .Nav-subnav,
.Nav-list > li > a:focus + .Nav-subnav,
.Nav-list > li:hover .Nav-subnav,
.Nav-list > li.hover .Nav-subnav {
  left: 0;
  opacity: 1;

  @include md(down) {
    position: static; // TODO: ver position Nav-subnav en tablet
  }
}

.Nav-list > li > a:hover + .Nav-subnav,
.Nav-list > li > a:focus + .Nav-subnav,
.Nav-list > li:hover .Nav-subnav {
  transition-delay: $Nav-transition-delay;
}


/* Nav Minisitios */

.Nav--minisitio {
	background: #ededed;
	z-index: 2;
	
	a {
		color: #003da5;
		
		&:hover {
			color: #003da5;
		}
		
		&:focus {
			background-color: #F7f7f7;
		}
	}
	
	.Nav-item.hover a {
		background-color: #F7f7f7;
		color: #003da5;
	}
	
}
