/* Listado de Descargas
   ========================================================================== */

/*
	<div class="Box Box--mf Box--listadoDescargas">
		<div class="Box-header">
				<h3 class="Box-name">Listado de descargas</h3>
		</div>
		<div class="Box-body">
				<p class="Box-text">Texto adicional del listado de descargas con un poco de información.</p>
				<ul class="Box-mediaList List">
						<li class="Media">
								<a class="Download" href="#" title="Descargar: Formulario para inscripción (.pdf 354 KB)">
										<div class="Media-image">
												<span class="Download-icon">
														<span class="Icon Icon--download"></span>
												</span>
										</div>
										<div class="Media-body">
												<div class="Download-title">Formulario para inscripción (.pdf 354 KB)</div>
												<div class="Download-description">Lorem ipsum dolor sit amet consectetur</div>
										</div>
								</a>
						</li>
						// Se repite <li> por la cantidad de accesos que se quieran listar
				</ul>
		</div>
		<div class="Box-footer">
				<a href="#" class="Box-more">Ver más descargas</a>
		</div>
	</div>
*/

.Box--listadoDescargas.Box--mf {
	
	.Box-mediaList {
		> .Media,
		li {
			padding: 1.5rem .25rem;
			
			&:first-child {
				padding-top: 0.5rem;
			}
			
			@include md(down) {
				padding: 1.25rem .25rem;
			}
		}
	}
	
	.Download {
	
		.Download-description {
			font-size: .9em;
			margin-bottom: .15rem;

			@include md(down) {
					font-size: 1em;
				}
			}
		
		@include md(down) {
			font-size: .9em;
		}
	}
}