/** @define Bar */

/**
 * A Bar-cell se le puede asignar anchos proporcionales.
 * El objecto Bar debe ser envuelto por un elemento con alto definido.
 */

.Bar {
  display: table;
  width: 100%;
  height: 100%;
}

.Bar-cell {
  display: table-cell;
  vertical-align: middle;
}
